.container {
 display: flex;
 height: 100vh;
}

.left-panel {
 width: 250px;
 background-color: #fff;
 padding: 20px;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 position: relative;
 overflow-y: auto;
}

.left-panel::-webkit-scrollbar{
 display:none;
}

.rotate-button {
 display: flex;
 font-size: 20px;
 background: none;
 border: none;
 cursor: pointer;
 margin-bottom: 20px;
}

.center-panel {
 flex-grow: 1;
 width: 500;
 height: 600;
 background-color: #000;
 overflow: auto;
 color: #fff;
}

.right-panel {
 width: 250px;
 background-color: #fff;
 padding: 20px;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}

label {
 font-weight: bold;
}

.setting {
 margin-top: 20px;
 margin-bottom: 20px;
}

.setting {
 display: block;
 text-align: left;
}

.option {
 display: flex;
 align-items: center;
 margin-top: 10px;
}

.option label {
 flex: 1;
 text-align: left;
}

hr {
 border: 1px solid #ddd;
 margin: 10px 0;
}